<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Objetos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Detecção de Objetos usando YOLOv3</h1>
        </header>
        <div class="video-container">
            <img id="video_feed" src="{{ url_for('video_feed') }}">
        </div>
    </div>
</body>
</html>
